/.idea/
/lib/
/projects/markdown_image_lofter/data/*
/projects/markdown_image_lofter/config_*.yaml
/projects/ora_car_energy_statistics/_dataset.json
/projects/readme_translator/config.yaml

__pycache__/
dist/

.cache
.DS_Store

!**/.gitkeep
