/.idea/
/deleted/
/lib/
/projects/local_file_sync/_conflicts/*
/projects/local_file_sync/_deleted/*
/projects/local_file_sync/_remote_snapshot.json
/projects/ora_car_energy_statistics/_dataset.json
/projects/readme_translator/config.yaml

__pycache__/
dist/

.cache
.DS_Store

!**/.gitkeep
